/*Change font for page and make universal for devices*/
html {
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
}

.header {
	font-size: 3em;
	background-color: burlywood;
	text-align: center;
	padding: 20px;
}

/*Navigation Bar style*/
#mediaLinks {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.myLinks {
	float: left;
}

.myLinks a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link black on hover*/
.myLinks a:hover {
	background-color: #111;
}

/*Create two columns that float next to each other*/
.column {
	float: left ;
}

main {
	width: 65%
}

aside {
	width: 35%;
}

/*Responsive layout to stack on top of each other on smaller screens*/
@media (max-width: 600px) {
	.column {
		width: 100%;
	}
}

footer {
	background-color: burlywood;
	text-align: center;
	padding: 10px;
}